@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: 'Source Serif 4', sans-serif; */
    font-family: 'DM Sans', sans-serif;
    list-style-type: none;
    
}

/* html{
    height: 100%;
} */
body {
    /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(239, 186, 237) 17.8%, rgb(130, 231, 235) 100.2% ); */
    background-color: #FFCE8C;
    /* background: #fb3958; */
    /* background: linear-gradient(90deg, rgba(185,147,214,1) 0%, rgba(140,166,219,1) 79%); */
    position: relative;
    height: 100vh;
}

/* ------------ nav----------- */
nav{
    z-index: 1;
    position: sticky;
    top: 0;
    /* background-color: white; */
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    width:100%;
    justify-content:space-around;
    padding:1em;
    /* border-bottom:1px solid #808080; */
    /* box-shadow: 0 5px 100px 1px #000000; */
}

nav h1{
    width: 70%;
    text-indent: -10000000px;
    background: url('/img/logo.png') no-repeat ;
    /* background-size: contain; */
    background-size: 10% ;
    background-position: 0 55%;
}

ul.normal{
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;

}

ul.normal a{
    color: black;
    display: flex;
}

ul.normal:nth-child(2):hover{
    cursor: pointer;
}

nav img#phoneicon{
    width: 3em;
    height: 3em;
    
}

/* ----------------Hamburger------------ */
nav img#hamburgerbtn{
    display: none;
}


ul.hamburger{
    display: none;
    width: 100%;
}

ul.hamburger a{
    color: black;
    display: flex;
}

#hamordersbtn,#hamhomebtn{
    border-bottom: 1px solid;
    margin: 0 auto;
    padding:.75em 0;
    width: 100%;
    background-color: white;
    font-family:  sans-serif;

}

#ordersbtn,#hamordersbtn{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ordersbtn:hover,#hamordersbtn:hover{
    cursor: pointer;
}
/* ---------nav ends----------- */
h1{
    font-family: 'Poppins', sans-serif !important;
    
}



.container{
    width: 50%;
    margin: 2.5em auto;
    padding: 1em 0;
    /* border: 1px solid black; */
    border-radius: 25px;
    background-color: white;
}

.container h1{
    text-align: center;
    margin: 1em;
}

a{
    color: white;
    text-decoration: none;
}

div#main{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

div#main h3{
    background-color: #FFCE8C;
    
    /* background: linear-gradient(90deg, rgba(140,166,219,1) 0%,rgba(185,147,214,1) 79%); */
    padding: 1em;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-weight: 100;
    cursor: pointer;
    transition: transform .3s ease-in-out;
    text-align: center;
    margin: .5em 0;
}

div#main h4{
    background-color: #dedede;
    padding: .75em;
    border-radius: 10px;
    color: black;
    font-weight: 100;
    cursor: pointer;
    transition: transform .3s ease-in-out;
    text-align: center;
    margin: .5em 0;   
}

div#areas h4 a{
    color: black !important;
    
}

div#main h3:hover, div#main h4:hover{
    transform: scale(1.1);
}

div#district{
    display: flex;
    justify-content: space-evenly;
    margin: 1em 0;
}

div#areas{
    margin: 1em 0;
    justify-content: space-evenly;
    display: none;
}

/* -------------footer--------------- */

footer{
    display: flex;
    width: 100%;
    padding: 0 1em;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    color: black;
    margin-top: 3em;
}

footer p, footer div{
    margin: .25em;
}

 div.social img{
     margin: .5em;
    width: 2em;
}


@media screen and (max-width:1300px) {  
    nav h1{
        width: 50%;
    }    

    ul.original{
        width: 50% !important;
    }
}

@media screen and (max-width:1200px){
    .container{
        width:60%;
        margin:0 20%;
    }
    nav h1{
        width: 40%;
        background-size: 25%;
    }
    ul.normal{
        width: 60% !important;
    }

}

@media screen and (max-width:768px){
    .container{
        width:90%;
        margin:0 5%;
    }

    div#district{
        flex-direction: column;
    }

    div#areas{
        flex-direction: column;
        width: 60%;
    margin: .5em auto;
    }
    
}

@media  screen and (max-width:770px) {
    nav h1{
        background-size: 100px;
        background-position: 2% 55%;
        width: 90%;
    }
    
    nav ul.normal{
        display: none;
    }    
     ul.hamburger{
        display: none;
        flex-direction: column;
    }

    ul.hamburger li{
        text-align: center;
        margin: 0em auto;
        width: 90%;
        background-color: white;
        border-bottom: 1px solid;
        width: 100%;
    }

    nav img#hamburgerbtn{
        display: block;
    }

    /* -----------footer------------ */
    footer{
        flex-direction: column;
        align-items: center;
        padding: 1em 0;
        
    }

    footer #firstc,#secc,.social{
        margin: .75em 0;
    }
}